* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footernav-color: rgba(34, 34, 34, 1);
    --share-color: rgba(75, 200, 0, 1);
    --end-color: rgba(226, 21, 15, 1);
    --bgend: rgba(74, 74, 74, 1);
    --bgname: rgba(74, 74, 74, 0.575);


}


body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    
}

body a{
    text-decoration: none;
}

body i{
    color: white;
    text-decoration: none;
}

 main{
     height: calc(100%- 80px);
     overflow: hidden;
}

.container{
    /* width: 1400px;  */ /* Blocca le finestre anche riducendo la dimensione di vw nel browser */
    /* margin: auto; */
    display: flex;
    gap: 7px;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
    overflow-y: auto;

}

.img-user{
    position: relative;

}

.option{
    position: relative;
    margin-top: 0.5rem;
}

.icon{
    position: absolute;
    right: 0;
    color: white;
    background-color: var(--bgend);
    padding: 0.1rem 1rem;
    border-radius: 5px;
}

.speak-icon{
    margin-right: 2rem;
    padding: 4px 6px;
    font-size: 13px;
}

.size-icon{
    padding: 4px 7px;
    font-size: 13px;
}

.name-icon{
    position: absolute;
    bottom: 3%;
    color: white;
    background-color: var(--bgname);
    padding: 2px 2px;
    font-size: 13px;
}

footer{
    height: 100%;
    min-width: 950px;
    margin-top: 1rem;
    background-color: var(--footernav-color);
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-icon{
    color: white;
    font-size: 12px;
    padding-top: 0.5rem;
    align-self: center;
}


.left-option, .primary-option{
    display: flex;
    gap: 18px;
    margin: 1rem;
}

.fa-chevron-up{
    color: white;
    font-size: 10px;
}


.right-option{
    background-color: var(--bgend);
    padding: 2rem;
}

.right-option>a{
    color: var(--end-color);
}

.col-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icon{
    color: white;
    font-size: 25px;
}


.chevron{
    align-self: center;
}

.green{
    color: var(--share-color);
}



/* BONUS UN PO' DI HOVER */


i:hover {
    color: var(--share-color);
}

